<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= location.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= location.latitude %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= location.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= location.state %>
  </p>

</div>
