<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= location.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= location.state %>
  </p>

  <p>
    <strong>Items:</strong>
    <% for item in location.items  %>
      <%= item.name %><br />
    <% end %>
  </p>

</div>
